[Unit]
Description=filewatcher 11pm nightly run
Requires=filewatcher.service

[Timer]
Unit=filewatcher.service
OnCalendar=*-*-* 23:00:00
Persistent=true

[Install]
WantedBy=timers.target